---
import Image from "astro/components/Image.astro";
import challenge6 from "../assets/challenge6.png";
import challenge7 from "../assets/challenge7.png";
import { Code } from "astro:components";
import javaIcon from "../assets/java.svg";
import pythonIcon from "../assets/python.svg";
import javaScriptIcon from "../assets/javascript.svg";
---

<section class=" m-auto  text-white pt-0  p-5 max-[500px]:p-2">
    <div
        class="text-center text-3xl max-w-[1200px] m-auto my-20 border-x border-neutral-700 p-20 max-[800px]:p-10 max-[500px]:p-5"
    >
        <h1 class="text-balance mb-5 text-4xl">
            A development platform 
        </h1>
        <p class="text-lg text-balance">
            A development platform <span class="text-neutral-400"
            >that offers a fast and flexible development experience, making
            it easier to solve complex problems
            efficiently.</span>
        </p>
     
        <div class="flex justify-center gap-30 mt-10 max-[800px]:gap-10">
            <div class="border border-neutral-700 rounded-lg px-5 flex ">
                <Image
                class=" max-[600px]:w-[15%] "
                src={javaScriptIcon}
                alt="landing image"
                width="100"
                height="100"
            />
            </div>

            <div class="border border-neutral-700 rounded-lg px-5 flex">
                <Image
                class=""
                src={pythonIcon}
                alt="landing image"
                width="100"
                height="100"
            />
            </div>

            <div class="border border-neutral-700 rounded-lg px-5 flex">
                <Image
                class=""
                src={javaIcon}
                alt="landing image"
                width="100"
                height="100"
            />
            </div>
           
           
          
        </div>
    </div>

    <div
        class="max-w-[1200px] m-auto border-x p-15 max-[800px]:p-5 border-neutral-700 border-dashed"
    >
        <h1
            class="text-white text-3xl py-10 border-b mb-10 border-dashed border-neutral-700"
        >
            Environment that gives the best development experience.
        </h1>
        <div class="flex items-center gap-5 relative mb-30 max-[1100px]:mb-10 max-[1100px]:flex-col-reverse ">
            <div class="flex-1 text-xl max-[1100px]:text-lg font-light text-neutral-500 max-[1100px]:mt-20 ">
                <p class="mb-5 text-pretty">
                    Cutting-edge coding platform with advanced features,
                    offering syntax highlighting, prettier formatting, and
                    customizable text settings for an unparalleled development
                    journey enhancing productivity and refining your craft
                    effortlessly.
                </p>
                <p>
                    Whether you're a novice or an experienced developer our
                    platforms covers from the basics of programming to advanced
                    data structures and algorithms, enhancing your coding
                    skills, logical thinking, and algorithmic efficiency.
                </p>
            </div>
            <div class="flex-1 relative flex justify-end max-[1100px]:mt-20 max-[1000]:translate-x-[25%] max-[1100px]:translate-x-[30%]">
                <div
                    class="border border-neutral-700 rounded-lg text-xs rotate-[-4deg] overflow-hidden translate-y-[-10%] translate-x-[-65%] absolute"
                >
                    <div
                        class="w-full p-2 border-b border-neutral-700 bg-neutral-950 flex items-center"
                    >
                        <svg
                            height="13"
                            viewBox="0 0 50 50"
                            width="13"
                            xmlns="http://www.w3.org/2000/svg"
                            class="mr-1"
                            ><path
                                d="M 43.335938 4 L 6.667969 4 C 5.195313 4 4 5.195313 4 6.667969 L 4 43.332031 C 4 44.804688 5.195313 46 6.667969 46 L 43.332031 46 C 44.804688 46 46 44.804688 46 43.335938 L 46 6.667969 C 46 5.195313 44.804688 4 43.335938 4 Z M 27 36.183594 C 27 40.179688 24.65625 42 21.234375 42 C 18.140625 42 15.910156 39.925781 15 38 L 18.144531 36.097656 C 18.75 37.171875 19.671875 38 21 38 C 22.269531 38 23 37.503906 23 35.574219 L 23 23 L 27 23 Z M 35.675781 42 C 32.132813 42 30.121094 40.214844 29 38 L 32 36 C 32.816406 37.335938 33.707031 38.613281 35.589844 38.613281 C 37.171875 38.613281 38 37.824219 38 36.730469 C 38 35.425781 37.140625 34.960938 35.402344 34.199219 L 34.449219 33.789063 C 31.695313 32.617188 29.863281 31.148438 29.863281 28.039063 C 29.863281 25.179688 32.046875 23 35.453125 23 C 37.878906 23 39.621094 23.84375 40.878906 26.054688 L 37.910156 27.964844 C 37.253906 26.789063 36.550781 26.328125 35.453125 26.328125 C 34.335938 26.328125 33.628906 27.039063 33.628906 27.964844 C 33.628906 29.109375 34.335938 29.570313 35.972656 30.28125 L 36.925781 30.691406 C 40.171875 32.078125 42 33.496094 42 36.683594 C 42 40.117188 39.300781 42 35.675781 42 Z"
                                fill="currentColor"></path></svg
                        >
                        <p class="text-neutral-500">
                            solution/mostFrequentChar.js
                        </p>
                    </div>
                    <div class="p-2 bg-black overflow-hidden text-[9px] max-[800px]:text-[1vw]">
                        <Code
                            code={`export function tokenTransform(s, tokens) {
   let output = [];
   let i = 0;
   let j = 1;
   while (i < s.length) {
      if (s[i] !== '$') {
         output.push(s[i]);
         i += 1;
         j = i + 1;
      } else if (s[j] !== '$') {
         j += 1;
      } else {
         const key = s.slice(i, j + 1);
         const value = tokens[key];
         const evaluatedValue = tokenTransform();
         tokens[key] = evaluatedValue;
         output.push(evaluatedValue);
         i = j + 1;
         j = i + 1;
      }
   }
   return output.join('');
};`}
                            lang="js"
                            theme="dark-plus"
                        />
                    </div>
                </div>
                <div
                    class="border border-neutral-700 rounded-lg text-xs rotate-[-2deg] overflow-hidden translate-y-[0px] translate-x-[-35%] absolute"
                >
                    <div
                        class="w-full p-2 border-b border-neutral-700 bg-white flex items-center"
                    >
                        <svg
                            height="13"
                            viewBox="0 0 50 50"
                            width="13"
                            xmlns="http://www.w3.org/2000/svg"
                            class="mr-1"
                            ><path
                                d="M 43.335938 4 L 6.667969 4 C 5.195313 4 4 5.195313 4 6.667969 L 4 43.332031 C 4 44.804688 5.195313 46 6.667969 46 L 43.332031 46 C 44.804688 46 46 44.804688 46 43.335938 L 46 6.667969 C 46 5.195313 44.804688 4 43.335938 4 Z M 27 36.183594 C 27 40.179688 24.65625 42 21.234375 42 C 18.140625 42 15.910156 39.925781 15 38 L 18.144531 36.097656 C 18.75 37.171875 19.671875 38 21 38 C 22.269531 38 23 37.503906 23 35.574219 L 23 23 L 27 23 Z M 35.675781 42 C 32.132813 42 30.121094 40.214844 29 38 L 32 36 C 32.816406 37.335938 33.707031 38.613281 35.589844 38.613281 C 37.171875 38.613281 38 37.824219 38 36.730469 C 38 35.425781 37.140625 34.960938 35.402344 34.199219 L 34.449219 33.789063 C 31.695313 32.617188 29.863281 31.148438 29.863281 28.039063 C 29.863281 25.179688 32.046875 23 35.453125 23 C 37.878906 23 39.621094 23.84375 40.878906 26.054688 L 37.910156 27.964844 C 37.253906 26.789063 36.550781 26.328125 35.453125 26.328125 C 34.335938 26.328125 33.628906 27.039063 33.628906 27.964844 C 33.628906 29.109375 34.335938 29.570313 35.972656 30.28125 L 36.925781 30.691406 C 40.171875 32.078125 42 33.496094 42 36.683594 C 42 40.117188 39.300781 42 35.675781 42 Z"
                                fill="currentColor"></path></svg
                        >
                        <p class="text-neutral-500">
                            solution/mostFrequentChar.js
                        </p>
                    </div>
                    <div class="p-2 bg-neutral-100 overflow-hidden text-[9px] max-[800px]:text-[1vw]">
                        <Code
                            code={`export function tokenTransform(s, tokens) {
   let output = [];
   let i = 0;
   let j = 1;
   while (i < s.length) {
      if (s[i] !== '$') {
         output.push(s[i]);
         i += 1;
         j = i + 1;
      } else if (s[j] !== '$') {
         j += 1;
      } else {
         const key = s.slice(i, j + 1);
         const value = tokens[key];
         const evaluatedValue = tokenTransform();
         tokens[key] = evaluatedValue;
         output.push(evaluatedValue);
         i = j + 1;
         j = i + 1;
      }
   }
   return output.join('');
};`}
                            lang="js"
                            theme="light-plus"
                        />
                    </div>
                </div>
                <div
                    class="border border-neutral-700 rounded-lg text-xs rotate-[-0deg] overflow-hidden translate-y-[10%]"
                >
                    <div
                        class="w-full p-2 border-b border-neutral-700 bg-black flex items-center"
                    >
                        <svg
                            height="13"
                            viewBox="0 0 50 50"
                            width="13"
                            xmlns="http://www.w3.org/2000/svg"
                            class="mr-1"
                            ><path
                                d="M 43.335938 4 L 6.667969 4 C 5.195313 4 4 5.195313 4 6.667969 L 4 43.332031 C 4 44.804688 5.195313 46 6.667969 46 L 43.332031 46 C 44.804688 46 46 44.804688 46 43.335938 L 46 6.667969 C 46 5.195313 44.804688 4 43.335938 4 Z M 27 36.183594 C 27 40.179688 24.65625 42 21.234375 42 C 18.140625 42 15.910156 39.925781 15 38 L 18.144531 36.097656 C 18.75 37.171875 19.671875 38 21 38 C 22.269531 38 23 37.503906 23 35.574219 L 23 23 L 27 23 Z M 35.675781 42 C 32.132813 42 30.121094 40.214844 29 38 L 32 36 C 32.816406 37.335938 33.707031 38.613281 35.589844 38.613281 C 37.171875 38.613281 38 37.824219 38 36.730469 C 38 35.425781 37.140625 34.960938 35.402344 34.199219 L 34.449219 33.789063 C 31.695313 32.617188 29.863281 31.148438 29.863281 28.039063 C 29.863281 25.179688 32.046875 23 35.453125 23 C 37.878906 23 39.621094 23.84375 40.878906 26.054688 L 37.910156 27.964844 C 37.253906 26.789063 36.550781 26.328125 35.453125 26.328125 C 34.335938 26.328125 33.628906 27.039063 33.628906 27.964844 C 33.628906 29.109375 34.335938 29.570313 35.972656 30.28125 L 36.925781 30.691406 C 40.171875 32.078125 42 33.496094 42 36.683594 C 42 40.117188 39.300781 42 35.675781 42 Z"
                                fill="currentColor"></path></svg
                        >
                        <p class="text-neutral-500">
                            solution/mostFrequentChar.js
                        </p>
                    </div>
                    <div class="p-2 bg-black overflow-hidden text-[9px] max-[800px]:text-[1vw]">
                        <Code
                            code={`export function tokenTransform(s, tokens) {
   let output = [];
   let i = 0;
   let j = 1;
   while (i < s.length) {
      if (s[i] !== '$') {
         output.push(s[i]);
         i += 1;
         j = i + 1;
      } else if (s[j] !== '$') {
         j += 1;
      } else {
         const key = s.slice(i, j + 1);
         const value = tokens[key];
         const evaluatedValue = tokenTransform();
         tokens[key] = evaluatedValue;
         output.push(evaluatedValue);
         i = j + 1;
         j = i + 1;
      }
   }
   return output.join('');
};`}
                            lang="js"
                            theme="dark-plus"
                        />
                    </div>
                </div>
            </div>
        </div>

        <h1
            class="text-white text-3xl py-10 border-b mb-10 border-dashed border-neutral-700 pl-[50%] max-[1100px]:pl-[0%]"
        >
            100 challenges across 15 categories.
        </h1>
        <div class="flex items-center gap-5 relative mb-30 max-[1100px]:mb-10 max-[1100px]:flex-col">
            <div class="flex-1 relative flex justify-normal max-[1100px]:mt-20 max-[1100px]:translate-x-[20%] max-[700px]:translate-x-[10%] ">
                <div
                    class="w-[60%] max-[1100px]:w-[35%] max-[700px]:w-[50%] border border-neutral-700 rounded-lg text-xs rotate-[4deg] overflow-hidden translate-y-[-10%] translate-x-[65%] absolute"
                >
                    <Image
                        class="rounded-lg"
                        src={challenge6}
                        alt="landing image"
                        width="1790"
                        height="1354"
                    />
                </div>
                <div
                    class="w-[60%] max-[1100px]:w-[35%] max-[700px]:w-[50%] border border-neutral-700 rounded-lg text-xs rotate-[2deg] overflow-hidden translate-y-[0px] translate-x-[35%] absolute"
                >
                    <Image
                        class="rounded-lg"
                        src={challenge7}
                        alt="landing image"
                        width="1790"
                        height="1354"
                    />
                </div>
                <div
                    class="w-[60%] max-[1100px]:w-[35%] max-[700px]:w-[50%] border border-neutral-700 rounded-lg text-xs rotate-[0deg] overflow-hidden translate-y-[10%]"
                >
                    <Image
                        class="rounded-lg"
                        src={challenge6}
                        alt="landing image"
                        width="1790"
                        height="1354"
                    />
                </div>
            </div>
            <div class="flex-1 text-xl max-[1100px]:text-lg font-light text-neutral-500 max-[1100px]:mt-20">
                <p class="mb-5">
                    Cutting-edge coding platform with advanced features,
                    offering syntax highlighting, prettier formatting, and
                    customizable text settings for an unparalleled development
                    journey enhancing productivity and refining your craft
                    effortlessly.
                </p>
                <p>
                    Whether you're a novice or an experienced developer our
                    platforms covers from the basics of programming to advanced
                    data structures and algorithms, enhancing your coding
                    skills, logical thinking, and algorithmic efficiency.
                </p>
            </div>
        </div>

        <h1
            class="text-white text-3xl py-10 border-b mb-10 border-dashed border-neutral-700"
        >
        100 challenges across 15 categories.
        </h1>
        <div class="flex items-center gap-5 relative max-[1100px]:flex-col-reverse">
            <div class="flex-1 text-xl max-[1100px]:text-lg font-light text-neutral-500 max-[1100px]:mt-20 ">
                <p class="mb-5">
                    Cutting-edge coding platform with advanced features,
                    offering syntax highlighting, prettier formatting, and
                    customizable text settings for an unparalleled development
                    journey enhancing productivity and refining your craft
                    effortlessly.
                </p>
                <p>
                    Whether you're a novice or an experienced developer our
                    platforms covers from the basics of programming to advanced
                    data structures and algorithms, enhancing your coding
                    skills, logical thinking, and algorithmic efficiency.
                </p>
            </div>
            <div class="flex-1 relative flex justify-end max-[1100px]:mt-20 items-center  max-[1100px]:translate-x-[-20%] max-[700px]:translate-x-[-5%]">
                <div
                    class="w-[60%] max-[1100px]:w-[35%] max-[700px]:w-[50%] border border-neutral-700 rounded-lg text-xs rotate-[-4deg] overflow-hidden translate-y-[-10%] translate-x-[-70%] absolute"
                >
                    <Image
                        class="rounded-lg"
                        src={challenge6}
                        alt="landing image"
                        width="1790"
                        height="1354"
                    />
                </div>
                <div
                    class="w-[60%] max-[1100px]:w-[35%] max-[700px]:w-[50%] border border-neutral-700 rounded-lg text-xs rotate-[-2deg] overflow-hidden translate-y-[0px] translate-x-[-35%] absolute"
                >
                    <Image
                        class="rounded-lg"
                        src={challenge7}
                        alt="landing image"
                        width="1790"
                        height="1354"
                    />
                </div>
                <div
                    class="w-[60%] max-[1100px]:w-[35%] max-[700px]:w-[50%] border border-neutral-700 rounded-lg text-xs rotate-[-0deg] overflow-hidden translate-y-[10%]"
                >
                    <Image
                        class="rounded-lg"
                        src={challenge6}
                        alt="landing image"
                        width="1790"
                        height="1354"
                    />
                </div>
            </div>
        </div>
    </div>
</section>

