---
import Image from "astro/components/Image.astro";
import challenge1 from "../assets/challenge1.avif";
import challenge2 from "../assets/challenge2.avif";
import { Code } from "astro:components";
import javaIcon from "../assets/java.svg";
import pythonIcon from "../assets/python.svg";
import javaScriptIcon from "../assets/javascript.svg";
import Carrousel from "./carrousel.astro";
import Carrousel2 from "./carrousel2.astro";
---

<section class="m-auto text-white pt-0 p-5 mb-20">
    <div
        class="max-w-[1200px] m-auto border-x p-15 max-[800px]:p-5 border-neutral-800 border-dashed"
    >
        <h1
            class="text-white text-3xl py-10 border-b mb-10 border-dashed border-neutral-800 max-[600px]:text-2xl"
        >
            100 challenges across 15 categories.
        </h1>
        <div
            class="flex items-center gap-5 relative max-[1000px]:flex-col-reverse mb-30"
        >
            <div
                class="flex-1 text-xl max-[1000px]:text-lg font-light text-neutral-500 max-[1000px]:mt-10 w-[50%] max-[1000px]:w-[100%] flex flex-col"
            >
                <p class="mb-5 max-[600px]:text-base">
                    Cutting-edge coding platform with advanced features,
                    offering syntax highlighting, prettier formatting, and
                    customizable text settings for an unparalleled development
                    journey enhancing productivity and refining your craft
                    effortlessly.
                </p>
                <Carrousel2 />
            </div>
            <div
                class="flex-1 relative flex justify-end max-[1000px]:mt-5 items-center max-[1000px]:translate-x-[-20%] max-[700px]:translate-x-[0%]"
            >
                <div
                    class="w-[60%] max-[1000px]:w-[35%] max-[700px]:w-[60%] border border-neutral-800 rounded-lg text-xs rotate-[-4deg] overflow-hidden translate-y-[-10%] translate-x-[-70%] absolute"
                >
                    <Image
                        class="rounded-lg"
                        src={challenge1}
                        alt="landing image"
                        width="1790"
                        height="1354"
                    />
                </div>
                <div
                    class="w-[60%] max-[1000px]:w-[35%] max-[700px]:w-[60%] border border-neutral-800 rounded-lg text-xs rotate-[-2deg] overflow-hidden translate-y-[0px] translate-x-[-35%] absolute"
                >
                    <Image
                        class="rounded-lg"
                        src={challenge2}
                        alt="landing image"
                        width="1790"
                        height="1354"
                    />
                </div>
                <div
                    class="w-[60%] max-[1000px]:w-[35%] max-[700px]:w-[60%] border border-neutral-800 rounded-lg text-xs rotate-[-0deg] overflow-hidden translate-y-[10%]"
                >
                    <Image
                        class="rounded-lg"
                        src={challenge1}
                        alt="landing image"
                        width="1790"
                        height="1354"
                    />
                </div>
            </div>
        </div>
        <h1
            class="text-white text-3xl py-10 border-b mb-10 border-dashed border-neutral-800 pl-[50%] max-[1000px]:pl-[0%] max-[600px]:text-2xl"
        >
            100 challenges across 15 categories.
        </h1>
        <div
            class="flex items-center gap-5 relative mb-30 max-[1000px]:mb-10 max-[1000px]:flex-col"
        >
            <div
                class="flex-1 relative flex justify-normal max-[1000px]:mt-5 max-[1000px]:translate-x-[20%] max-[700px]:translate-x-[0%]"
            >
                <div
                    class="w-[60%] max-[1000px]:w-[35%] max-[700px]:w-[60%] border border-neutral-800 rounded-lg text-xs rotate-[4deg] overflow-hidden translate-y-[-10%] translate-x-[65%] absolute"
                >
                    <Image
                        class="rounded-lg"
                        src={challenge1}
                        alt="landing image"
                        width="1790"
                        height="1354"
                    />
                </div>
                <div
                    class="w-[60%] max-[1000px]:w-[35%] max-[700px]:w-[60%] border border-neutral-800 rounded-lg text-xs rotate-[2deg] overflow-hidden translate-y-[0px] translate-x-[35%] absolute"
                >
                    <Image
                        class="rounded-lg"
                        src={challenge2}
                        alt="landing image"
                        width="1790"
                        height="1354"
                    />
                </div>
                <div
                    class="w-[60%] max-[1000px]:w-[35%] max-[700px]:w-[60%] border border-neutral-800 rounded-lg text-xs rotate-[0deg] overflow-hidden translate-y-[10%]"
                >
                    <Image
                        class="rounded-lg"
                        src={challenge1}
                        alt="landing image"
                        width="1790"
                        height="1354"
                    />
                </div>
            </div>
            <div
                class="flex-1 text-xl max-[1000px]:text-lg font-light text-neutral-500 max-[1000px]:mt-10 w-[50%] max-[1000px]:w-[100%] flex flex-col"
            >
                <p class="mb-5 max-[600px]:text-base">
                    Cutting-edge coding platform with advanced features,
                    offering syntax highlighting, prettier formatting, and
                    customizable text settings for an unparalleled development
                    journey enhancing productivity and refining your craft
                    effortlessly.
                </p>
                <Carrousel />
            </div>
        </div>
        <h1
            class="text-white text-3xl py-10 border-b mb-10 border-dashed border-neutral-800 max-[600px]:text-2xl"
        >
            100 challenges across 15 categories.
        </h1>
        <div
            class="flex items-center gap-5 relative max-[1000px]:flex-col-reverse"
        >
            <div
                class="flex-1 text-xl max-[1000px]:text-lg font-light text-neutral-500 max-[1000px]:mt-10 w-[50%] max-[1000px]:w-[100%] flex flex-col"
            >
                <p class="mb-5 max-[600px]:text-base">
                    Cutting-edge coding platform with advanced features,
                    offering syntax highlighting, prettier formatting, and
                    customizable text settings for an unparalleled development
                    journey enhancing productivity and refining your craft
                    effortlessly.
                </p>
                <Carrousel2 />
            </div>
            <div
                class="flex-1 relative flex justify-end max-[1000px]:mt-5 items-center max-[1000px]:translate-x-[-20%] max-[700px]:translate-x-[0%]"
            >
                <div
                    class="w-[60%] max-[1000px]:w-[35%] max-[700px]:w-[60%] border border-neutral-800 rounded-lg text-xs rotate-[-4deg] overflow-hidden translate-y-[-10%] translate-x-[-70%] absolute"
                >
                    <Image
                        class="rounded-lg"
                        src={challenge1}
                        alt="landing image"
                        width="1790"
                        height="1354"
                    />
                </div>
                <div
                    class="w-[60%] max-[1000px]:w-[35%] max-[700px]:w-[60%] border border-neutral-800 rounded-lg text-xs rotate-[-2deg] overflow-hidden translate-y-[0px] translate-x-[-35%] absolute"
                >
                    <Image
                        class="rounded-lg"
                        src={challenge2}
                        alt="landing image"
                        width="1790"
                        height="1354"
                    />
                </div>
                <div
                    class="w-[60%] max-[1000px]:w-[35%] max-[700px]:w-[60%] border border-neutral-800 rounded-lg text-xs rotate-[-0deg] overflow-hidden translate-y-[10%]"
                >
                    <Image
                        class="rounded-lg"
                        src={challenge1}
                        alt="landing image"
                        width="1790"
                        height="1354"
                    />
                </div>
            </div>
        </div>
    </div>
</section>
