---
import Image from 'astro/components/Image.astro'
import challenge1 from '../assets/challenge1.avif'
import challenge2 from '../assets/challenge2.avif'
import Carrousel from './carrousel.astro'
import Carrousel2 from './carrousel2.astro'
---

<section class="my-20 px-3" id="content">
    <div class="m-auto max-w-[1200px] border-x border-dashed border-neutral-800 px-10 py-20 max-[800px]:p-5">
         <h1 class="mb-10 border-b border-dashed border-neutral-800 py-10 text-3xl text-white max-[600px]:text-2xl">100 challenges across 15 categories.</h1>
        <div class="relative mb-30 flex items-center gap-5 max-[1000px]:flex-col-reverse">
            <div class="flex w-[50%] flex-1 flex-col text-xl font-light text-neutral-500 max-[1000px]:mt-10 max-[1000px]:w-[100%] max-[1000px]:text-lg">
                <p class="mb-5 max-[600px]:text-base">Cutting-edge coding platform with advanced features, offering syntax highlighting, prettier formatting, and customizable text settings for an unparalleled development journey enhancing productivity and refining your craft effortlessly.</p>
                <Carrousel2 />
            </div>
            <div class="relative flex flex-1 items-center justify-end max-[1000px]:mt-5 max-[1000px]:translate-x-[-20%] max-[700px]:translate-x-[0%]">
                <div class="absolute w-[60%] translate-x-[-70%] translate-y-[-10%] rotate-[-4deg] overflow-hidden rounded-lg border border-neutral-800 text-xs max-[1000px]:w-[35%] max-[700px]:w-[60%]">
                    <Image class="rounded-lg" src={challenge1} alt="landing image" width="1790" height="1354" />
                </div>
                <div class="absolute w-[60%] translate-x-[-35%] translate-y-[0px] rotate-[-2deg] overflow-hidden rounded-lg border border-neutral-800 text-xs max-[1000px]:w-[35%] max-[700px]:w-[60%]">
                    <Image class="rounded-lg" src={challenge2} alt="landing image" width="1790" height="1354" />
                </div>
                <div class="w-[60%] translate-y-[10%] rotate-[-0deg] overflow-hidden rounded-lg border border-neutral-800 text-xs max-[1000px]:w-[35%] max-[700px]:w-[60%]">
                    <Image class="rounded-lg" src={challenge1} alt="landing image" width="1790" height="1354" />
                </div>
            </div>
        </div>
        <h1 class="mb-10 border-b border-dashed border-neutral-800 py-10 pl-[50%] text-3xl text-white max-[1000px]:pl-[0%] max-[600px]:text-2xl">100 challenges across 15 categories.</h1>
        <div class="relative mb-30 flex items-center gap-5 max-[1000px]:mb-10 max-[1000px]:flex-col">
            <div class="relative flex flex-1 justify-normal max-[1000px]:mt-5 max-[1000px]:translate-x-[20%] max-[700px]:translate-x-[0%]">
                <div class="absolute w-[60%] translate-x-[65%] translate-y-[-10%] rotate-[4deg] overflow-hidden rounded-lg border border-neutral-800 text-xs max-[1000px]:w-[35%] max-[700px]:w-[60%]">
                    <Image class="rounded-lg" src={challenge1} alt="landing image" width="1790" height="1354" />
                </div>
                <div class="absolute w-[60%] translate-x-[35%] translate-y-[0px] rotate-[2deg] overflow-hidden rounded-lg border border-neutral-800 text-xs max-[1000px]:w-[35%] max-[700px]:w-[60%]">
                    <Image class="rounded-lg" src={challenge2} alt="landing image" width="1790" height="1354" />
                </div>
                <div class="w-[60%] translate-y-[10%] rotate-[0deg] overflow-hidden rounded-lg border border-neutral-800 text-xs max-[1000px]:w-[35%] max-[700px]:w-[60%]">
                    <Image class="rounded-lg" src={challenge1} alt="landing image" width="1790" height="1354" />
                </div>
            </div>
            <div class="flex w-[50%] flex-1 flex-col text-xl font-light text-neutral-500 max-[1000px]:mt-10 max-[1000px]:w-[100%] max-[1000px]:text-lg">
                <p class="mb-5 max-[600px]:text-base">Cutting-edge coding platform with advanced features, offering syntax highlighting, prettier formatting, and customizable text settings for an unparalleled development journey enhancing productivity and refining your craft effortlessly.</p>
                <Carrousel />
            </div>
        </div>
        <h1 class="mb-10 border-b border-dashed border-neutral-800 py-10 text-3xl text-white max-[600px]:text-2xl">100 challenges across 15 categories.</h1>
        <div class="relative flex items-center gap-5 max-[1000px]:flex-col-reverse">
            <div class="flex w-[50%] flex-1 flex-col text-xl font-light text-neutral-500 max-[1000px]:mt-10 max-[1000px]:w-[100%] max-[1000px]:text-lg">
                <p class="mb-5 max-[600px]:text-base">Cutting-edge coding platform with advanced features, offering syntax highlighting, prettier formatting, and customizable text settings for an unparalleled development journey enhancing productivity and refining your craft effortlessly.</p>
                <Carrousel2 />
            </div>
            <div class="relative flex flex-1 items-center justify-end max-[1000px]:mt-5 max-[1000px]:translate-x-[-20%] max-[700px]:translate-x-[0%]">
                <div class="absolute w-[60%] translate-x-[-70%] translate-y-[-10%] rotate-[-4deg] overflow-hidden rounded-lg border border-neutral-800 text-xs max-[1000px]:w-[35%] max-[700px]:w-[60%]">
                    <Image class="rounded-lg" src={challenge1} alt="landing image" width="1790" height="1354" />
                </div>
                <div class="absolute w-[60%] translate-x-[-35%] translate-y-[0px] rotate-[-2deg] overflow-hidden rounded-lg border border-neutral-800 text-xs max-[1000px]:w-[35%] max-[700px]:w-[60%]">
                    <Image class="rounded-lg" src={challenge2} alt="landing image" width="1790" height="1354" />
                </div>
                <div class="w-[60%] translate-y-[10%] rotate-[-0deg] overflow-hidden rounded-lg border border-neutral-800 text-xs max-[1000px]:w-[35%] max-[700px]:w-[60%]">
                    <Image class="rounded-lg" src={challenge1} alt="landing image" width="1790" height="1354" />
                </div>
            </div>
        </div>
    </div>
</section>
